.hero-block
    background-image: url('../../assets/img/Main bg.jpg')
    width: 100%
    min-height: 640px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    .nav-bar
        margin-bottom: 111px
        padding-top: 30px
        padding-left: 149px
    .h1
        display: flex
        justify-content: center
        margin-bottom: 20px
    .separator
        display: flex
        justify-content: center
        margin-bottom: 35px
        width: 100%
    .underH1
        display: flex
        flex-direction: column
        align-items: center
        span
            font-weight: 700
            font-size: 24px
            line-height: 35px
            color: #fff
            margin-bottom: 20px
            &:last-child
                margin-bottom: 18px
        button
            width: 120px
            height: 30px
            border: 1px solid #FFFFFF
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            border-radius: 3px
            color: #FFFFFF
            background: none
            cursor: pointer
