.nav-bar-logo
    display: flex
    align-items: flex-end
    padding-top: 30px
    padding-left: 149px
    .logo
        width: 35px
        height: 35px
    .text
        color: #fff
        font-size: 12px
        line-height: 17px
