.header-block
    width: 100%
    min-height: 260px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    .nav-bar
        margin-bottom: 60px
        padding-top: 30px
        padding-left: 149px
    .h1
        display: flex
        justify-content: center
        margin-bottom: 20px