.item
    display: flex
    justify-content: center
    .about-us
        & > p
            display: flex
            flex-direction: column
            & > span
                margin-bottom: 16px
                & > b
                    font-weight: 700
                & > .price
                    font-size: 20px
                &:last-child
                    margin-bottom: 0
