.goods-block
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .search-panel
        display: flex
        margin-bottom: 61px
        .search
            margin-right: 83px
    .coffee-items
        width: 802px
        display: flex
        justify-content: center
        flex-wrap: wrap
        gap: 60px 71px
